.card{
  display: block;
  align-self: auto;
  margin: auto;
}

.field {
  display: block;
  align-self: auto;
  margin: auto;
  border: none;

}

table{
  margin: auto;


  td{
    padding: 50px 50px;
    color: black;
    a{
      color: rgb(116, 215, 62);
    }
  }

}



a{
  color: rgb(116, 215, 62);
  margin: auto;
}
